        body {
            font-family: Arial, sans-serif;
            background-image: url('bkg.gif');
            background-size: cover;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        h1 {
            color: #333;
            margin-top: 30px;
        }
        p {
            font-size: 18px;
            color: #555;
        }
        strong {
            color: #000;
        }
        .certificate-container {
            background-image: url('bg.gif');
            background-size: cover;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
            margin: 60px auto;
            max-height: 1000px;
            max-width: 1000px;
        }
        .download-button {
            display: block;
            padding: 10px 10px;
            margin-top: 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            font-size: large;
        }
        